body {
    min-width: 400px;
}
.nav-wrapper {
    padding: 0 2rem;
}
.set-text {
    font-size: 25px;
}
.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course h1 {
    margin-bottom: 2rem;
}
.course img {
    max-width: 600px;
    height: auto;
}
.course .price.big {
    font-size: 2.5rem;
}
.flex {
    display: flex;
}
h1 {
    text-align: center;
}
.table {
   width: 70%;
    margin: 1vw auto;
}
.divider-width {
    width: 70%;
    margin: 0 auto;
}
.text-bold {
    font-weight: bold;
}
.text-align {
    text-align: center;
 }
