body {
    min-width: 400px;
}
.nav-wrapper {
    padding: 0 2rem;
}
.set-text {
    font-size: 25px;
}
.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course h1 {
    margin-bottom: 2rem;
}
.course img {
    max-width: 600px;
    height: auto;
}
.course .price.big {
    font-size: 2.5rem;
}
.flex {
    display: flex;
}
h1 {
    text-align: center;
}
.table {
   width: 70%;
    margin: 1vw auto;
    display: flex;
    align-items: center;
}
.divider-width {
    width: 70%;
    margin: 1vw auto;
}
.text-bold {
    font-weight: bold;
}
.text-align {
    text-align: center;
 }
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered button {
    margin: 1vw auto;
}
.mt {
    margin-top: 2rem;
}
.login-wrapper {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border: 1px solid lightcoral;
    border-radius: 10px;
    margin-top: 20%;
    padding: 1rem 0;
}
